# ignore any PDFs except t test resources
*.pdf
!/t/resources/*.pdf
!/examples/resources/*.pdf
# ignore WinMerge and ViM backups
*.bak
*~
# ignore ViM editor swap files
*.swp
# ignore development/test versions
*.old
*.new
# ignore leftover POD-to-HTML stuff
pod2htmd.tmp
# ignore .html documentation
*.html
# local build process
/latest_release
/Changes_new
/UPDATE_195.txt
/comp.list
/pdfbpm.list
# quick test files
*-short
# development stuff
docs/
!docs/buildDoc.pl
misc/
pm.list
examples/Envelope.pl
examples/Harmonic.pl
.github/workflows/GD-test.yml.txt
pm.list
